<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar'); -%>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <%- include('topbar'); -%>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Lập Đơn Hàng</h1>       
          <!-- DataTales Example -->
           
             <form  action="/addProduct" method="post">
              <div class="row">
              <div class="col-6">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Sản Phẩm Cần Nhập</h6>
                    
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">        
                      <table class="table table-bordered" name="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Tên Mặt Hàng</th>
                            <th>Loại Hàng</th>
                            <th>Số Lượng Còn Lại</th>
                            <th>Số Lượng Cần Nhập</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%list.forEach(function(item){%>
                          <tr>
                            <input type="number" name="id[]" class="form-control" value="<%=item.id%>" hidden  > 
                            <td> <%=item.name%></td>
                            <td> <%=item.type%></td>
                            <td> <input type="number" name="SLCLai[]" class="form-control" value="<%=item.amount%>"></td>
                            <td>  <input type="number" name="SLNhap[]" class="form-control"></td>
                          </tr>
                          <%})%>
                        </tbody>
                      </table>
                    </div>
           
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông Tin </h6>
                  </div>
                  <div class="card-body">
                      <div class="form-group">
                        <label for="NameNV">Nhân Viên Nhập Hàng</label>
                        <input type="text" class="form-control" name="NameNV" placeholder="Nhân Viên Nhập Hàng">
                      </div>
                      <div class="form-group">
                        <label for="Date">Ngày Nhập</label>
                        <input type="date" class="form-control" name="DateNH">
                      </div>
                      <div class="form-group">
                        <label for="Message">Lý Do Cần Nhập Hàng</label>
                        <textarea  type="text" class="form-control" name="Message" placeholder="Lý Do Cần Nhập Hàng" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Nhập Hàng</button>
                    </div>
                  </div>  
              </div>
              </div>
            </form>
          </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>

</body>

</html>
